.project-heading{
    text-align: center;
    padding: 4rem 0 2rem 0;
}
.project-container{
    max-width: 90.25rem;   
    margin: auto;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 10px;
    padding-bottom: 5rem;
  


}